:root {
  --text-color: #CC00FF;
  --bg-image: url('/assets/images/BackgroundImage.gif');
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  color: var(--text-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */ 
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
