:root { /* If you're reading this, go away.*/
  --text-color: #EDEDED;
  --bg-image: url('/assets/images/BackgroundImage.gif');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--text-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  z-index: 1000;
}


nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  opacity: 0.8;
}

.social {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 40%;
}


.social img {
  width: 1.5rem;
  height: 1.5rem;
}

