:root { /* If you're reading this, go away. */
  --text-color: #ae00d2;
  /* --bg-image: url('/assets/images/placeholder.png'); */
}

html, body {
  height: 100%;
  margin: 0;
}

@keyframes drift {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200px 200px;
  }
}

body {
  background-color: #000;
  background-image: url('/assets/images/placeholder.png');
  background-repeat: repeat;
  background-size: auto 25px;
  animation: drift 30s linear infinite;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(120, 18, 255, 0.25);
  border: 0.5rem solid rgb(0 0 0, 0.25);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  box-sizing: border-box;
  z-index: 1000;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

nav a:hover {
  opacity: 0.5;
  filter: brightness(0.75);
}

.social {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 50%;
  transition: transform 0.3s ease, filter 0.3s ease; /*0.3s as a tribute to my old website. Rip.*/
}

.social a:hover {
  transform: scale(1.1);
}


.social img {
  width: 1.5rem;
  height: 1.5rem;
}
