:root { /* If you're reading this, go away.*/
  --text-color: #ae00d2;
  /* --bg-image: url('/assets/images/placeholder.png'); */
}

html, body {
  height: 100%;
}

@keyframes drift {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200px 200px;
  }
}

body {
  background-color: #000;
  background-image: url('/assets/images/placeholder.png');
  background-repeat: repeat;
  background-size: auto 25px;
  animation: drift 60s linear infinite;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  background-color: rgba(90, 0, 120, 0.1);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  box-sizing: border-box;
  z-index: 1000;
}


nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  opacity: 0.8;
}

.social {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 50%;
}


.social img {
  width: 1.5rem;
  height: 1.5rem;
}
