:root { /* Why are you here */
  --text-color: #6e01d2;
}

html, body {
  height: 100%;
  margin: 0;
}

@keyframes drift {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 1000px;
  }
}

body {
  background-color: #000;
  background-image: url('/assets/images/BackgroundLol.jpg');
  background-repeat: repeat;
  background-size: auto 15px;
  animation: drift 20s linear infinite;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(60, 0, 105, 0.3);
  border: 0.25rem solid rgba(55, 0, 100, 0.3);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  box-sizing: border-box;
  z-index: 1000;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.25s ease, filter 0.25s ease;
}

nav a:hover {
  opacity: 0.75;
  filter: brightness(0.25);
}

.social {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 50%;
}

.social img {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform .25s, filter .25s
}

.social img:hover {
  transform: scale(1.1);
  filter: brightness(0.98);
}

.border-image{
  border: 0.25rem solid rgba(55 0, 100, 0.3);
  margin: 2rem auto;
  backdrop-filter: blur(2px);
  width: 15%;
  border-radius: 100%;
}